.cabSimple,
.cabDoble,
.cabSuite {
  display: none;
  h3 {
    font-family: 'Source Sans Pro', sans-serif;
  }
  input {
    &:focus {
      background-color: rgb(22, 22, 22);
      color: white;
    }
  }
  button {
    font-size: small;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(1.05);
    }
  }
  .cabaña {
    width: 25rem;
    height: 25rem;
    border: solid 2px rgb(22, 22, 22);
    border-radius: 5px;
    box-shadow: 3px -3px 10px 0px #b4b4b383;
  }
}
