.inicio {
  background-image: url(../img/bosqueBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .textoInicio {
    color: white;
    text-align: left;
    padding: 30px;
    margin-left: 30px;
    @media screen and (max-width: 1000px) {
      margin-left: unset;
    }
    .display-5 {
      font-size: 3.5rem;
      text-shadow: 2px -1px 2px black;
    }
    .lead {
      font-size: 1.5rem;
      text-shadow: 1px 0px 1px black;
    }
    .btn {
      &:hover {
        background-color: rgb(22, 22, 22);
        color: whitesmoke;
      }
    }
  }
}
