* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import 'header';
@import 'inicio';
@import 'form';
@import 'nosotros';
@import 'servicios';
@import 'contacto';
@import 'cabanas';
@import 'footer';
